/* fonts imported from Adobe Fonts */

@import url("https://use.typekit.net/pfh6ajj.css");

/* variables setup */

html {
    --theme: #12002D;
    --light: #ffffff;
    --dark: #371a45;
    --purple: #8B1AB5;
}

/* default browser styles reset */

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--theme);
    font-family: "Termina", Arial, Helvetica, sans-serif;
    color: var(--light);
}

/* base typography definitions */

h1,
nav,
button,
a {
    font-family: "Ethnocentric";
    color: var(--light);
    text-decoration: none;
}

/* navigation */

header {
    background-color: var(--theme);
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    z-index: 1;
}

nav,
.logo-container {
    padding: 30px;
}

nav {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: auto 0;
}

nav a {
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
    margin: 5px;
    border-radius: 25px;
    transition: background-color 1s;
}

nav a:hover {
    color: var(--purple);
    background-color: var(--light);
}

#rocket-burger-checkbox,
.nav-container img {
    display: none;
}



button,
.subpage a {
    padding: 20px;
    height: 6rem;
    width: 240px;
    background-color: var(--theme);
    border-style: double;
    border-color: var(--light);
    font-size: 1.2rem;
    line-height: 1.6rem;
    border-radius: 25px;
    transition: background-color 1s;
}

button:hover,
.subpage a:hover {
    background-color: var(--purple);
}

.subpages-container,
.old-launches-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    max-width: 900px;
    margin: auto auto 0 auto;
    padding: 50px 0;
}

.subpages-container h1,
.old-launches-container h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

.subpage {
    flex: 1;
    min-width: 300px;
}

.launch {
    border-style: double;
    border-color: var(--light);
    line-height: 1.6rem;
    border-radius: 25px;
    margin: 25px;
    padding: 10px;
    transition: background-color 1s;
}

.launch p {
    text-align: left;
}

.cover-image {
    display: flex;
    margin: auto;
    justify-content: center;
    min-width: 300px;
    min-height: 253px;
}

.cover-image img {
    height: 100%;
}

.astronaut {
    position: relative;
    min-height: 310px;
    margin: auto 0;
}

.astronaut img {
    position: absolute;
    bottom: 0px;
    left: 25%;
}

.button-container {
    display: inline-flex;
    justify-content: space-around;
    margin: auto;
    padding: 50px 0;
    min-width: 300px;
}

footer {
    min-height: 960px;
    width: 100vw;
    display: inline-grid;
    grid-template-rows: auto;
    background-image: url(../img/rocket_station.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    overflow: hidden;
}

.socialmedia-container {
    display: grid;
    grid-template-columns: 1;
    background-color: var(--purple);
    max-width: 70px;
    max-height: 250px;
    border-radius: 0 25px 25px 0;
}

.socialmedia-container a {
    padding: 20px;
}

.explanation {
    width: 90vw;
    margin: auto;
    padding-left: 30px;
}

.explanation p {
    max-width: max-content;
    background-color: var(--dark);
    color: var(--light);
    font-size: 0.8rem;
    padding: 30px;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
}

/*                                          form styling                                        */

.input-container,
.input-container2 {
    position: relative;
}

.label {
    position: absolute;
    font-size: 00.8em;
    top: -15px;
    left: 0px;
}

form .rowContainer {
    padding: 15px 0;
}

#text {
    height: 200px;
    cursor: auto;
}

input {
    position: relative;
    border-radius: 25px;
}

.label2 {
    color: var(--light);
    position: absolute;
    font-size: 00.8em;
    top: -20px;
    left: 20px;
}

.formError {
    display: none;
    margin-top: -30px;
    padding-top: 35px;
    padding-left: 20px;
    font-weight: 500;
    color: crimson;
    font-size: 0.8em;
}

.input-container2 .input,
.input-container .input {
    width: 600px;
}

.input {
    width: 250px;
    padding: 10px;
    margin: 0 20px;
}

/* responsive navigation for smaller devices */

@media (max-width:1020px) {

    .nav-container img {
        display: block;
    }

    nav,
    #rocket-burger-checkbox {
        display: none;
    }

    #rocket-burger-checkbox:checked~nav {
        display: block;
    }

    .nav-container {
        position: relative;
    }

    .nav-container label {
        padding: 20px;
    }

    nav {
        margin: 50px 0;
        position: absolute;
        width: 100vw;
        right: -30px;
        background-color: var(--purple);
    }

    nav a {
        display: block;
    }

    nav a:hover {
        color: var(--dark);
    }

}