/* fonts imported from Adobe Fonts */

@import url("https://use.typekit.net/pfh6ajj.css");

/* variables setup */

html {
    --theme: #12002D;
    --light: #ffffff;
    --dark: #371a45;
    --purple: #8B1AB5;
}

/* default browser styles reset */

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--theme);
    font-family: "Termina", Arial, Helvetica, sans-serif;
    color: var(--light);
}

/* base typography definitions */

h1,
nav,
button,
a {
    font-family: "Ethnocentric";
    color: var(--light);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

nav,
.logo-container {
    padding: 30px;
}

nav {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: auto 0;
}

nav a {
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
    margin: 5px;
    border-radius: 25px;
    transition: background-color 1s;
}

nav a:hover {
    color: var(--purple);
    background-color: var(--light);
}

#rocket-burger-checkbox,
.nav-container img {
    display: none;
}



button {
    padding: 20px;
    height: 6rem;
    width: 240px;
    background-color: var(--theme);
    border-style: double;
    border-color: var(--light);
    font-size: 1.2rem;
    line-height: 1.6rem;
    border-radius: 25px;
    transition: background-color 1s;
}

button:hover {
    background-color: var(--purple);
}

.subpages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    max-width: 900px;
    margin: auto auto 0 auto;
    padding: 50px 0;
}

.subpage {
    flex: 1;
    min-width: 300px;
}

.cover-image {
    display: flex;
    margin: auto;
    justify-content: center;
    min-width: 300px;
    min-height: 253px;
}

.cover-image img {
    height: 100%;
}

.button-container {
    display: inline-flex;
    justify-content: space-around;
    margin: auto;
    padding: 50px 0;
    min-width: 300px;
}

footer {
    min-height: 960px;
    width: 100vw;
    display: inline-grid;
    grid-template-rows: auto;
    background-image: url(/Exam/2021-11-20_PE1_Weronika_Derkowska/img/rocket_station.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    justify-content: left;
    overflow: hidden;
}

.socialmedia-container {
    display: grid;
    grid-template-columns: 1;
    background-color: var(--purple);
    max-width: 70px;
    max-height: 250px;
    border-radius: 0 25px 25px 0;
}

.socialmedia-container a {
    padding: 20px;
}

.explanation {
    width: 90vw;
    margin: auto;
    padding-left: 30px;
}

.explanation p {
    max-width: max-content;
    background-color: var(--dark);
    color: var(--light);
    font-size: 0.8rem;
    padding: 30px;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
}





@media (max-width:1020px) {

    .nav-container img {
        display: block;
    }

    nav,
    #rocket-burger-checkbox {
        display: none;
    }

    #rocket-burger-checkbox:checked~nav {
        display: block;
    }

    .nav-container {
        position: relative;
    }

    .nav-container label {
        padding: 20px;
    }

    nav {
        margin: 50px 0;
        position: absolute;
        width: 100vw;
        right: -30px;
        background-color: var(--purple);
    }

    nav a {
        display: block;
    }

    nav a:hover {
        color: var(--dark);
    }

}